@import url("../global.css");

.container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.item {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
}


.cart-item-image, .cart-item-details {
    flex: 0 0 50%;
}

.item-image {
    max-width: 200px;
    height:auto;
}