@import url("../global.css");

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
}

.cart-item-image {
    flex: 0 0 20%
}

.cart-item-details {
    flex: 0 0 80%;
}

.item-image img {
    max-width: 80%;
    height: auto;
}

.cart-item-details {

}