@import url("../global.css");

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.cart-items{
    display: flex;
}
.cart-item {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
}

.cart-item-image {
    flex: 0 0 20%;
    border: none;
    border-radius: 20px;
    height: 200px;
}

.cart-item-quantity{
    display: flex;
    align-items: center;
}

.cart-item-details {
    flex: 0 0 50%;
    display:flex;
    flex-direction: column;
    padding-right: 20%;
}

.cart-item-image img {
    max-width: 80%;
    height: auto;
}

.cart-item-price {
    text-align: right;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.cart-e-waste-recycled {
    display: flex;
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    min-width: 450px;
    margin: 20px 0px 20px 0px;
    background-color: #99e5ab;
    border: 1px solid #ddd;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
}

.cart-total-price {
    display: flex;
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.cart-checkout-button {
    display: flex;
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
}

.trash-icon {
    margin-left: 8px;
    width: 40px;
    height: 40px;
}

#checkout-gif{
    width: 50%;
}
.modal {
    border: 0;
    width: 50%;
    text-align: center;
}
.modal::backdrop{
    background-color: gray;
    opacity: .4;
    
}
.price-normal {
    font-size: 22px;
    /* margin-top: 30px; */
    font-weight: bold;
    color: #085797;
    text-align: center;
}

.amount-recycled {
    font-weight: bold;
}