.quantity-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    width:140px;
    border-radius: 5px;
    height: fit-content;
    margin: 0 10px 0 10px ;
}

.quantity-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-btn:hover {
    background-color: #0056b3;
}

#quantity-input {
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}