@import url('../global.css');
/* The product images */
img {
    max-width: 100%;
    max-height: 100%;
}
ul {
    list-style-type: none;
    font-size: 18px;
}
p{
    font-size: 16px;
    margin-left: 10px;
}
.ad{
    background-color: #2683cf81;
    padding: 10px;
}
.filter-header {
    border-bottom: 1px solid #575757;
    margin-bottom: 20px;
}
#price-textbox {
    width: 30px;
}
/* Store Page */
.outer-grid {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    justify-items: left;
    column-gap: 5px;
    display: grid;
    grid-template-areas:
        'empty header header'
        'filter main main'
}

.categories {
    grid-area: header;
}
.empty{
    grid-area: empty;
}

.filters {
    font-size: 20px;
    width: 380px;
    font-family: Arial;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    grid-area: filter;
    

}

.filter-content {
    margin: 30px;
}

.test-img1 {
background-color: #ccc;
}
/* div Container for buttons */
.button-tabs {
display: grid;
grid-template-columns: repeat(4, 120px);
font-family: Arial;
gap: 8px;
list-style: none;
padding: 0;
margin: 0;
}
/* For individual product tabs */
.tab {
font-size: large;
border-left: 2px groove;
border-right: 2px groove;
border-top: 2px groove;
border-bottom: 0px;
border-radius: 5px;
text-align: left;
background-color: #ececec;
box-shadow: 1px -1px 4px #ccc;
padding: 5px;
transition: background-color 0.3s;
}
.tab:hover{
cursor: pointer;
background-color: #ccc;
}
.tab.active {
box-shadow: 1px 0px 5px;
transform: scale(1.05);
border: none;
background-color: white;

}
.product-grid {
    border-left: 1px solid #ddd;
    border-top: 1px solid #a1a1a1; 
    border-top-left-radius: 5px;
    display: grid;
    grid-area: main;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
    justify-content: center;
    /* background-color: #2196F3; */
    gap: 30px;
    /* align-content: center; */
    padding: 30px;
}

.grid-item{
cursor: pointer;
border: 1px groove;
box-shadow:  0px 0px 5px #575757;
background-color: white;
height: 310px;
border-radius: 5px;
overflow: hidden;
text-align: center;
padding: 5px;
font-family: Arial;
transition: background-color 0.3s, transform 0.2s;

}
.grid-item .product-info{
    transition: background-color 0.3s, transform 0.2s;
}
.grid-item:hover {
box-shadow:  1px 1px 10px #575757;
transform: scale(1.03);
}
.grid-item:hover .product-info{
    background-color: #e3edf5;    
    transform: scale(1.03);
}
.test-img {
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 150px;
}
.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    height: 45%;
    padding-top: 20px;
}
.price-normal {
    font-size: 22px;
    /* margin-top: 30px; */
    font-weight: bold;
    color: #085797;
    margin-top: auto;
}
.price-sale {
font-size: 21px;
padding-top: 30px;
font-weight: bold;
color: #f10b0b;
}
.product-name {
font-weight: bold;
font-size: 20px;
}
.product-description{
    font-size: 14px;
    color: #353535;
}
.product-description.special{
    
    font-size: 15px;
    color: green;
}
