<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="nav-bar.css">
</head>
<body>
    <div class="nav-bar">
        <div class="logo">TechNeverDies</div>
        <div class="search-box">
            <input type="search" id="search-bar" name="searchbar" placeholder="Search the store">
        </div>
        <div class="nav-tabs">
            <button class="button active" id="home-button">Home</button>
            <button class="button" id="products-button">Products</button>
            <button class="button" id="cart-button">Cart</button>
        </div>
    </div>
    <script src="nav-bar.js"></script>
</body>
</html>
